#header_project_progress_report{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    display: inline-block;
    font-size: 18px;
    color: #777777;
}

#project_report_bg_color{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

#project_progress_graph_bg_color{
    width: 100%;
    height: 100%;
}